= form_for @enquiry do |f|
  -if @enquiry.errors.any?
    - @enquiry.errors.each do |attr_name, message|
      .error= "#{attr_name} #{message}"
  .contact_inner_left
    %ul
      %li
        %label Contact name
        .name= f.email_field :email, :placeholder => 'Please enter your email address'
      %li
        %label Contact email
        .name= f.email_field :email, :placeholder => 'Please enter your email address'
      %li
        %label Telephone
        .name= f.phone_field :phone, :placeholder => 'Please enter your phone number'
      %li
        .name2= f.submit "Send", {:type => 'submit', :class => 'submit'}
    .clr
  .contact_inner_right
    %ul
      %li
        %label Subject
        .name3= f.text_field :subject, :placeholder => 'Please enter the subject'
      %li
        %label Message
        .name4= f.text_area :content, :placeholder => 'Please enter your enquiry detail here'