%li{:class => (@active_tab == "methods" ? 'active' : '')}= link_to "Our Methods", methods_path
%li{:class => (@active_tab == "testimonials" ? 'active' : '')}= link_to "Testimonials", testimonials_path
%li{:class => (@active_tab == "timetables" ? 'active' : '')}= link_to "Timetables", timetables_path
%li{:class => (@active_tab == "prices" ? 'active' : '')}= link_to "Prices", prices_path
%li{:class => (@active_tab == "location" ? 'active' : '')}= link_to "Location", location_path
%li{:class => (@active_tab == "careers" ? 'active' : '')}= link_to "Careers", careers_path
%li{:class => (@active_tab == "enquiry" ? 'active' : '')}= link_to "Enquiry", new_enquiry_path


