!!!
%html
  %head
    %title= title

    %meta{ :charset => "UTF-8" }
    %meta{ :content => "text/html; charset=UTF-8", :"http-equiv" => "Content-Type" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=7" }

    %meta{ :name => "title", :content => title }
    %meta{ :name => "DC.Title", :content => title }
    
    %meta{ :name => "description", :content => "FRB! Project - Save Sight Institute" }
    %meta{ :name => "DC.Description", :content => "FRB! Project - Save Sight Institute" }

    %meta{ :name => "keywords", :content => "up,to,8,keywords,come,here" }
    
    = stylesheet_link_tag "screen.css"
    
    /[if IE]
      = stylesheet_link_tag "screen_ie.css"
    / [if IE 6]
      = stylesheet_link_tag "screen-ie6.css"
      
  %body
    #page.Page
      / Start Header
      .Header
        %h1 Wingmaze Education
        =link_to(image_tag('logo.png', :alt => 'Wingmaze Education', :border => 0, :size => '178x111', :id => 'logo'), 'http://wingmazeeducation.com')
      .Navigation
        .Navi_Container
          %ul.Tab_menu
            = render :partial => 'layouts/tabs'
      .Content_Container
        - if defined?(@menu)
          #menu
            = render :partial => "/layouts/#{@menu}"
          .Contents
            - if flash[:error]
              %p.error="#{flash[:error]}"
            - if flash[:notice]
              %p.notice="#{flash[:notice]}"
            = yield
        - else
          .Contents
            - if flash[:error]
              %p.error="#{flash[:error]}"
            - if flash[:notice]
              %p.notice="#{flash[:notice]}"
            = yield
      /= render :partial => 'layouts/footer'
